body {
  background-color: #58B5DF;
  text-align: left;
  font-family: Times New Roman;
}

div {
  background-color: #E7DCDA;
  border-radius: 40px;
  padding: 20px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

table.table1 {
  background-color: #32404E;
  color: white;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

table.table1 tr td {
  border: 2px solid white;
}

table.table2 {
  background-color: #32404E;
  color: white;
  width: 900px;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

table.table2 tr td {
  border: 2px solid white;
}

table.table2 th {
  border: 2px solid white;
}

